<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    id          = "com.andystrain.punchcard"
    versionCode = "10"
    version     = "1.0.0" >
  <preference name="orientation" value="portrait" />
  <preference name="phonegap-version" value="cli-9.0.0" />
  <name>Andy's Train Punch Card</name>

  <description>
      A punch card for Andy's Electric Train.
  </description>

  <author email="andrewcook.david@gmail.com">
      Andrew Cook
  </author>

</widget>
